# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
env/

# Data files
*.csv
*.tsv
*.xlsx
*.json
*.parquet
*.pkl
*.zip
*.log
*.tmp
data/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
